# Replace with your own value
DOMAIN_NAME=yourlogin.42.fr

# MySQL
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wpuser

# WordPress
WP_TITLE=My website
# Must not be "admin" or "administrator"
WP_ADMIN_USER=wpmaster
WP_ADMIN_EMAIL=admin@example.com
WP_USER=visitor
WP_USER_EMAIL=visitor@example.com