# Replace with your own value
DOMAIN_NAME=example.com

# MySQL
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wpuser

# WordPress
WP_TITLE=My website
WP_ADMIN_USER=wpmaster          # ⚠️ Don't use admin/administrator !
WP_ADMIN_EMAIL=admin@example.com
WP_USER=visitor
WP_USER_EMAIL=visitor@example.com